conf/schemas/exports/inventoryLinkingCore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://gov.uk/customs/inventoryLinking/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://gov.uk/customs/inventoryLinking/v1"
           elementFormDefault="qualified"
           version="1.0">

    <xs:include schemaLocation="inventoryLinkingCommonTypes.xsd" />

    <!-- ================================ -->
    <!-- Movement Requests and Responses  -->
    <!-- ================================ -->

    <xs:complexType name="inventoryLinkingMovementRequest">
        <xs:annotation>
            <xs:documentation>A movement request message of type (EAL, EAA, EDL)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="messageCodeMovement" minOccurs="1" />
            <xs:element name="agentDetails" type="agentDetails"	minOccurs="0" />
            <xs:element name="ucrBlock" type="ucrBlock"	minOccurs="1" />
            <xs:element name="goodsLocation" type="goodsLocation" minOccurs="1" />
            <xs:element name="goodsArrivalDateTime" type="xs:dateTime" minOccurs="0" nillable="true" />
            <xs:element name="goodsDepartureDateTime" type="xs:dateTime" minOccurs="0" nillable="true" />
            <xs:element name="shedOPID" type="shedOPID" minOccurs="0" nillable="true" />
            <xs:element name="masterUCR" type="ucr" minOccurs="0" nillable="true" />
            <xs:element name="masterOpt" type="masterOpt" minOccurs="0" />
            <xs:element name="movementReference" type="movementReference" minOccurs="0" nillable="true" />
            <xs:element name="transportDetails" type="transportDetails"	minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="inventoryLinkingMovementResponse">
        <xs:annotation>
            <xs:documentation>A response to a movement request message of type (EAL, EAA, EDL)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="messageCodeMovement" minOccurs="1" />
            <xs:element name="crc" type="crcCode" minOccurs="0" nillable="true" />
            <xs:element name="goodsArrivalDateTime" type="xs:dateTime" minOccurs="0" nillable="true" />
            <xs:element name="goodsLocation" type="goodsLocation" minOccurs="0" nillable="true" />
            <xs:element name="shedOPID" type="shedOPID" minOccurs="0" nillable="true" />
            <xs:element name="movementReference" type="movementReference" minOccurs="0" nillable="true" />
            <xs:element name="submitRole" type="submitRole" minOccurs="0" nillable="true" />
            <xs:element name="ucrBlock" type="ucrBlock" minOccurs="0" />
            <xs:element name="goodsItem" type="goodsItem" minOccurs="0" maxOccurs="999" />
            <xs:element name="entryStatus" type="entryStatus" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="messageCodeMovement">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EAA" />
            <xs:enumeration value="EAL" />
            <xs:enumeration value="RET" />
            <xs:enumeration value="EDL" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ===================================== -->
    <!-- Consolidation Requests and Responses  -->
    <!-- ===================================== -->

    <xs:complexType name="inventoryLinkingConsolidationRequest">
        <xs:annotation>
            <xs:documentation>A consolidation request of message type (CST, EAC)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="messageCodeConsolidation" minOccurs="1" />
            <xs:element name="masterUCR" type="ucr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mandatory for a CST message, if not supplied in an EAC message the current association is removed</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ucrBlock" type="ucrBlock" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>For an EAC message, if the UCR is not supplied, the consolidation will be shut</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="messageCodeConsolidation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CST" />
            <xs:enumeration value="EAC" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="consolidationTransaction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Associate" />
            <xs:enumeration value="Disassociate" />
            <xs:enumeration value="Shut" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ================ -->
    <!-- Control Requests -->
    <!-- ================ -->

    <xs:complexType name="inventoryLinkingControlResponse">
        <xs:sequence>
            <xs:element name="messageCode" type="messageCodeAll" minOccurs="1" maxOccurs="1" />
            <xs:element name="actionCode" type="actionCode" minOccurs="1" maxOccurs="1" />
            <!-- UCR block as additional return reference, if appropriate -->
            <xs:element name="ucr" type="ucrBlock" minOccurs="0" maxOccurs="1" />
            <!-- Traders movement reference as additional return reference, if appropriate -->
            <xs:element name="movementReference" type="movementReference" minOccurs="0" maxOccurs="1" nillable="true" />
            <!-- Error block only included if action code is 3 -->
            <xs:element name="error" type="errorBlock" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- ============================= -->
    <!-- Query Requests and Responses  -->
    <!-- ============================= -->

    <xs:complexType name="inventoryLinkingQueryRequest">
        <xs:annotation>
            <xs:documentation>Request to return information about a specific UCR</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="queryUCR" type="ucrBlock" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="inventoryLinkingQueryResponse">
        <xs:annotation>
            <xs:documentation>A response to an inventory linking query. The response includes the queried MUCR: 1/ children (the whole subtree with all MUCRs and DUCRs with declarations); 2/ all movements of the queried MUCR;  3/ all parents with their movements</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="queriedDUCR" type="DUCRObject" minOccurs="0" maxOccurs="1" >
                <xs:annotation><xs:documentation>the queried DUCR</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="queriedMUCR" type="MUCRObject" minOccurs="0" maxOccurs="1" >
                <xs:annotation><xs:documentation>the queried MUCR</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="parentMUCR" type="MUCRObject" minOccurs="0" maxOccurs="1" >
                <xs:annotation><xs:documentation>the parent DUCR</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="childDUCR" type="DUCRObject" minOccurs="0" maxOccurs="unbounded" >
                <xs:annotation><xs:documentation>the children DUCRs</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="childMUCR" type="MUCRObject" minOccurs="0" maxOccurs="unbounded" >
                <xs:annotation><xs:documentation>the children MUCRs</xs:documentation></xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DUCRObject">
        <xs:annotation>
            <xs:documentation>represents a single DUCR object</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="UCR" type="ucr" minOccurs="1" maxOccurs="1" />
            <xs:element name="parentMUCR" type="ucr" minOccurs="0" maxOccurs="1" />
            <xs:element name="declarationID" type="declarationID" minOccurs="1" maxOccurs="1" />
            <xs:element name="entryStatus" type="entryStatus" minOccurs="0" maxOccurs="1" />
            <xs:element name="movement" type="movementObject" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="goodsItem" type="goodsItemObject" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MUCRObject">
        <xs:annotation>
            <xs:documentation>represents a single MUCR object</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="UCR" type="ucr" minOccurs="1" maxOccurs="1" />
            <xs:element name="parentMUCR" type="ucr" minOccurs="0" maxOccurs="1" />
            <xs:element name="entryStatus" type="entryStatus" minOccurs="0" maxOccurs="1" />
            <xs:element name="shut" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1" />
            <xs:element name="movement" type="movementObject" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="goodsItemObject">
        <xs:sequence>
            <xs:element name="totalPackages" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:totalDigits value="8" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="movementObject">
        <xs:annotation>
            <xs:documentation>represents single movement object</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="messageCodeMovement" minOccurs="1" />
            <xs:element name="goodsLocation" type="goodsLocation" minOccurs="1" />
            <xs:element name="goodsArrivalDateTime" type="xs:dateTime" minOccurs="0" nillable="true" />
            <xs:element name="goodsDepartureDateTime" type="xs:dateTime" minOccurs="0" nillable="true" />
            <xs:element name="movementReference" type="movementReference" minOccurs="0" nillable="true" />
            <xs:element name="transportDetails" type="transportDetails" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- ============================= -->
    <!-- Declaration Summary Responses -->
    <!-- ============================= -->


    <xs:complexType name="inventoryLinkingMovementTotalsResponse">
        <xs:annotation>
            <xs:documentation>An EMR / ERS sent by the Inventory Linking Component</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="messageCodeSend" minOccurs="1" />
            <xs:element name="crc" type="crcCode" minOccurs="0" nillable="true" />
            <xs:element name="goodsLocation" type="goodsLocation" minOccurs="1" />
            <xs:element name="masterUCR" type="ucr" minOccurs="0" />
            <xs:element name="declarationCount" type="declarationCount" minOccurs="0" />
            <xs:element name="goodsArrivalDateTime" type="xs:dateTime" minOccurs="0" nillable="true" />
            <xs:element name="shedOPID" type="shedOPID" minOccurs="0" nillable="true" />
            <xs:element name="movementReference" type="movementReference" minOccurs="0" nillable="true" />
            <xs:element name="masterROE" type="masterROE" minOccurs="0" />
            <xs:element name="masterSOE" type="masterSOE" minOccurs="0" />
            <xs:element name="entry" type="entry" minOccurs="0" maxOccurs="999" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="entry">
        <xs:sequence>
            <xs:element name="ucrBlock" type="ucrBlock" minOccurs="1" />
            <xs:element name="goodsItem" type="goodsItem" minOccurs="0" maxOccurs="999" />
            <xs:element name="submitRole" type="submitRole" minOccurs="0" nillable="true" />
            <xs:element name="entryStatus" type="entryStatus" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="messageCodeSend">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERS" />
            <xs:enumeration value="EMR" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="declarationCount">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>

    <xs:simpleType name="masterROE">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2" />
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="masterSOE">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2" />
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ============================= -->
    <!-- DMS DUCR MUCR Validation Service Responses -->
    <!-- ============================= -->

    <xs:complexType name="inventoryLinkingValidateDUCRRequest">
        <xs:sequence>
            <xs:element name="MRN" type="mrn" minOccurs="1" nillable="false"  />
            <xs:element name="DUCR" type="xs:string" minOccurs="1" nillable="false" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="inventoryLinkingValidateMUCRRequest">
        <xs:sequence>
            <xs:element name="masterUCR" type="xs:string" minOccurs="1" nillable="false" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="inventoryLinkingValidateDUCRResponse">
        <xs:sequence>
            <xs:element name="MRN" type="mrn" minOccurs="1" nillable="false"  />
            <xs:element name="DUCR" type="xs:string" minOccurs="1" nillable="false" />
            <xs:element name="isFormatValid" type="xs:boolean" minOccurs="1" nillable="false" />
            <xs:element name="isFound" type="xs:boolean" minOccurs="0" nillable="true" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="inventoryLinkingValidateMUCRResponse">
        <xs:sequence>
            <xs:element name="masterUCR" type="xs:string" minOccurs="1" nillable="false" />
            <xs:element name="isFormatValid" type="xs:boolean" minOccurs="1" nillable="false" />
            <xs:element name="isFound" type="xs:boolean" minOccurs="0" nillable="true" />
            <xs:element name="isShut" type="xs:boolean" minOccurs="0" nillable="true" />
            <xs:element name="shutDate" type="xs:dateTime" minOccurs="0" nillable="true" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
